<section class="inicio">
    <h1>SCRUM</h1>
    <h2>¿Qué es SCRUM?</h2>
    <p>Es un marco de trabajo (Framework) el cual se centra en la idea desarrollo ágil, el nombre SCRUM proviene de una
        jugada de Rugby en la cual se basa que todo el equipo toma la pelota enviándola hacia atrás para luego avanzar
        en equipo como una unidad.
    </p>
    <h2>Objetivo</h2>
    <p>
        El objetivo principal es desarrollar software de forma eficiente, con la idea de crear productos escalables en
        un tiempo que está definido por varios desarrollos y entregas, teniendo en cuenta que la satisfacción del
        cliente es prioritario, por este motivo SCRUM maneja entregas parciales.
    </p>
    <h2>Trabajo con SCRUM</h2>
    <p>El trabajo es colaborativo, ya que esta metodología no basa en una pirámide de cargos, sino que todos las
        personas del equipo tiene voz y voto y todas tiene un rol importante para el cumplimiento con satisfacción del
        producto.
    </p>
</section>