<div class="form">
  <h2>Inicie Sesión</h2>
  <form (ngSubmit)="iniciar()" [formGroup]="formulario">
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput formControlName="usuario" />
      <mat-error *ngIf="f.usuario.errors">
        Usuario requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput formControlName="contrasenia"/>
      <mat-error *ngIf="f.contrasenia.errors">
        Contraseña requerida
      </mat-error>
    </mat-form-field>
    <input type="submit" value="Iniciar" class="btn">
  </form>
  <p class="link" (click)="admin()">¿Crear un administrador por defecto?</p>

</div>
